
.vs/QLNS/FileContentIndex/6129e3d6-6f5e-40e6-9c06-68e31d2127bf.vsidx
.vs/QLNS/FileContentIndex/919db850-a440-4cbb-b893-a83d8cf9b28f.vsidx
.vs/QLNS/FileContentIndex/read.lock
.vs/QLNS/v17/.suo
.vs/QLNS/v17/fileList.bin
QLNS.v12.suo
QLNS/bin/Debug/app.publish/QLNS.exe
QLNS/bin/
QLNS/obj/
QLNS/bin/Debug/QLNS.vshost.application
QLNS/bin/Debug/QLNS.vshost.exe.manifest
QLNS/bin/Debug/QLNS.xml
